.message-box
  .message
    .message__member-name
      = message.user.name
    .message__date
      = message.created_at.strftime('%Y/%m/%d %H:%M:%S')

  .chat
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
