.messege-box.clearfix
  .messege
    .messege__member-name
      = message.user.name
    .messege__date
      = message.created_at

  .chat
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
